<proxies>

    <!-- Proxy for HTTP -->

    <proxy>

        <id>optional</id>

        <active>true</active>

        <protocol>http</protocol>

        <username>proxyuser</username>

        <password>proxypass</password>

        <host>proxy.host.net</host>

        <port>80</port>

        <nonProxyHosts>local.net</nonProxyHosts>

    </proxy>




    <!-- Proxy for HTTPS -->

    <proxy>

        <id>optional</id>

        <active>true</active>

        <protocol>https</protocol>

        <username>proxyuser</username>

        <password>proxypass</password>

        <host>proxy.host.net</host>

        <port>80</port>

        <nonProxyHosts>local.net</nonProxyHosts>

    </proxy>

</proxies>